[submodule "quick2wire-python-api"]
	path = quick2wire-python-api
	url = https://github.com/quick2wire/quick2wire-python-api.git
[submodule "pyusbiss"]
	path = pyusbiss
	url = https://github.com/DancingQuanta/pyusbiss.git
[submodule "matplotlib"]
	path = matplotlib
	url = https://github.com/matplotlib/matplotlib.git
[submodule "GEO Code/quick2wire"]
	path = GEO Code/quick2wire
	url = https://github.com/quick2wire/quick2wire-python-api.git
[submodule "GEO Code/Adafruit_Python_ADS1x15"]
	path = GEO Code/Adafruit_Python_ADS1x15
	url = https://github.com/adafruit/Adafruit_Python_ADS1x15.git
